.container {
    width: 90%;
    margin: auto;
    padding: 20px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
  
  .container h1 {
    font-size: 24px;
  }